<!-- <div class="loader"> -->

  <table id="menu-grid">
    <tr ng-if="found">
      <th>Short Name</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price(small)</th>
      <th>Portion</th>
      <th>Price (large)</th>
      <th>Portion</th>
      <th><button hidden>remove</button></th>
    </tr>
    <tr ng-repeat="item in found">
      <td>{{item.short_name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price_small}}</td>
      <td>{{item.small_portion_name}}</td>
      <td>{{item.price_large}}</td>
      <td>{{item.large_portion_name}}</td>
      <td><button id="remove" ng-click="onRemove({index: $index});">Don't want this one!</button></td>
    </tr>
  </table>
  <div class="error" ng-transclude></div>

<!-- </div> -->
